$dir: ltr;

$body-ff-thick: 'MuseoSans300', sans-serif;
$body-ff-thin: 'MuseoSans100', sans-serif;
$heading-ff: 'Playfair Display', serif;

$p-d-c: #404041;
$darker-grey: $p-d-c;
$s-d-c: #535354;
$dark-grey: $p-d-c;
$t-d-c: #6d3146;
$red: $t-d-c;

$p-l-c: #ffffff;
$white: $p-l-c;
$s-l-c: #ececec;
$lighter-grey: $s-l-c;
$t-l-c: #bc9a66;
$gold: $t-l-c;

$xs: 767px;
$sm-min: 768px;
$sm-max: 991px;
$md-min: 992px;
$md-max: 1199px;
$lg: 1200px;

$fast-t: .3s;
$slow-t: .5s;

$sm-letter-spacing: 2px;
$lg-letter-spacing: 5px;

$sm-line-height: 1.5;
$lg-line-height: 1.8;

$low-opacity: 0.5;

$sm-padding: 15px;
$lg-padding: 100px;

$body-fz: 14px;